.Identity-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(224, 224, 224);
    padding: 1.5em 2em;
}

.Identity-footer button {
    margin: 0 1.5em 0 0;
    font-size: small;
    padding: 0.75em 1.25em;
}

.Identity-footer a {
    font-size: x-small;
    font-family: Medium;
}
