.Identity-content {
    background-color: rgb(251, 252, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0;
}

.Identity-content .phone-number {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    align-items: center;
    font-family: Medium;
    font-size: smaller;
}

.Identity-content .number {
    color: rgb(153, 153, 153);
}

.Identity-content .country-code {
    border: 1px solid rgb(224, 224, 224);
    background-color: rgb(242, 241, 241);
    margin-left: 0.5em;
    padding: 0.5em;
}

.Identity-content .phone {
    border: 1px solid rgb(224, 224, 224);
    border-left: 0px;
    background-color: rgb(247, 247, 247);
    padding: 0.5em;
}

.Identity-content .validation-inputs {
    display: flex;
    justify-content: center;
}

.Identity-content .links {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
    font-size: x-small;
    align-items: center;
    color: rgb(131, 131, 131);
}

.Identity-content .links svg {
    color: rgb(100, 181, 246);
    margin-right: 0.5em;
    font-size: x-small;
}

.Identity-content .content-width {
    display: flex;
    flex-direction: column;
}

.Identity-content .Identity-input:not(:first-child) {
    margin-left: 0.25em;
}
