.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-width {
  width: 80%;
  display: flex;
  z-index: 1;
}

.centered-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.page-main {
  flex-grow: 1;
}

.grey-bg {
  background-color: rgb(251, 251, 251);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  z-index: 0;
}
