@import "../../colors";
@import "../../sizes";

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .page-width {
        width: 58%;
        display: flex;
        z-index: 1;
    }

    .centered-row {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .page-main {
        flex-grow: 1;
    }

    .grey-bg {
        background-color: $grey-background;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 70%;
        z-index: 0;
    }
}

@media screen and (max-width: $xx-small-width) {
    .App .page-width {
        width: 93%;
    }
}

@media screen and (min-width: $xx-small-width) and (max-width: $x-small-width) {
    .App .page-width {
        width: 90%;
    }
}

@media screen and (min-width: $x-small-width) and (max-width: $small-width) {
    .App .page-width {
        width: 60%;
    }
}

@media screen and (min-width: $x-small-width) and (max-width: $medium-width) {
    .App .page-width {
        width: 70%;
    }
}
