.Transaction-details {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px;
    font-size: small;
    position: fixed;
    width: 20em;
}

.Transaction-details .title{
    border-bottom: 1px solid rgb(224, 224, 224);
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}

.Transaction-details .border-top {
    border-top: 1px solid rgb(224, 224, 224);
}

.Transaction-details .bottom {
    display: flex;
    justify-content: center;
    color: rgb(255, 200, 103);
    background-color: white;
    font-size: x-small;
    font-family: Medium;
    padding: 1.5em 0;
    border-radius: 0 0 5px 5px;
}

.Transaction-details .title div {
    display: flex;
    align-items: center;
}

.Transaction-details .link {
    font-size: xx-small;
}

.Transaction-details .question-mark {
    color: white;
    background-color: rgb(110, 192, 230);
    font-size: xx-small;
    width: 11px;
    height: 11px;
    justify-content: center;
    border-radius: 60px;
    align-items: center;
    margin-left: 0.5em;
}

.transaction-detail {
    padding: 0 1em 1em 1em;
}
