@import "../../colors";
@import "../../sizes";

.Step-content {
    .next-button {
        margin: 2em 0 3em 0;
    }

    .title {
        font-family: Bold;
        margin: 2em 0 0 0;
    }

    .subtitle {
        font-size: $small;
        fornt-family: Light;
        color: $dark-grey;
        margin: 0.5em 0 2em 0;
    }
}
