.Step-content .next-button {
    margin: 2em 0 3em 0;
}

.Step-content .title {
    font-family: Bold;
    margin: 2em 0 0 0;
}

.Step-content .subtitle {
    font-size: small;
    fornt-family: Light;
    color: rgb(97, 97, 97);
    margin: 0.5em 0 2em 0;
}
