.Details-row {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(158, 158, 158);
}

.Details-row .bigger-text {
    font-family: Medium;
}

.Details-row .bold-text {
    color: rgb(97, 97, 97);
}

.Details-row.first-row {
    padding-top: 1em;
}
