@import "../../../colors";

.Details-row {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $details-grey;

    .bigger-text {
        font-family: Medium;
    }

    .bold-text {
        color: $dark-grey;
    }
}

.Details-row.first-row {
    padding-top: 1em;
}
