.Currency-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.5em;
}

.Currency-box.top-box {
    border: 1px solid rgb(110, 192, 230);
    border-radius: 5px 5px 0 0;
    background-color: rgb(250, 253, 254);
}

.Currency-box.bottom-box {
    border-left: 1px solid rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);
    border-right: 1px solid rgb(224, 224, 224);
    border-radius: 0 0 5px 5px;
}

.Currency-box .left-content .currency-title {
    font-size: small;
    font-family: Medium;
}

.Currency-box.top-box .left-content .currency-title {
    color: rgb(110, 192, 230);
}

.Currency-box.bottom-box .left-content .currency-title {
    color: rgb(170, 170, 170);
}

.Currency-box .right-content {
    border: 1px solid rgb(224, 224, 224);
    padding: 0.5em;
    display: flex;
    align-items: center;
    border-radius: 2em 5px 5px 2em;
    font-family: Bold;
    color: rgb(97, 97, 97);
}

.Currency-box .currency-logo {
    height: 1em;
    margin-right: 0.5em;
}

.Currency-box.bottom-box .right-content {
    background-color: rgb(250, 250, 250);
}

.Currency-box.top-box .right-content {
    background-color: rgb(255, 255, 255);
}

.Currency-box .currency {
    margin-top: 0.5em;
    font-family: Medium;
}

.Currency-box .amount {
    font-size: x-large;
}
