$xx-small: 0.5em;
$x-small: 0.625em;
$small: 0.833em;
$smaller: 0.9em;
$medium: 1em;
$large: 1.125em;
$x-large: 1.5em;
$xx-large: 2em;

$xx-small-width: 380px;
$x-small-width: 450px;
$small-width: 600px;
$medium-width: 1000px;
$large-width: 1200px;
