@import "../../../colors";

.Wizard-button {
    flex: 1;
    color: map-get($unselected-wizard-buton, text);

    .labels-wrapper {
        display: flex;
        justify-content: center;
    }

    .labels-wrapper span {
        margin: 0;
        font-size: x-small;
        font-family: Medium;
    }

    .labels-wrapper p {
        margin: 0 0 1em 0;
        font-family: Medium;
        font-size: small;
    }

    .progress {
        height: 4px;
        background-color: map-get($unselected-wizard-buton, progress);
    }

    .round-left {
        border-radius: 1em 0 0 1em;
    }

    .round-right {
        border-radius: 0 1em 1em 0;
    }
}

.Wizard-button.selected-button {
    color: $light-blue;

    .progress {
        background-color: $light-blue;
    }
}
