.App-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(196, 196, 196);
  border-top: 1px solid rgb(224, 224, 224);
}

.App-footer a {
  margin-left: 1.5em;
}
