@import "../../sizes";
@import "../../colors";

.App-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $footer-text;
    border-top: 1px solid $border;
    font-size: $x-small;

    a {
        margin-left: 1.5em;
    }
}
